body {
    font-family: 'Quicksand';
    color: white;
    background-image: url('space-cyber.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  /*Ensure the background image is centered*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* Ensure the body always takes up at least the full height of the viewport*/
    overflow-x: hidden;
}

.title {
    text-align: center;
    margin-bottom: 20px; /* Add spacing between the title and the timeline */
    color: #000000;
}

h1 {
    font-size: 40px; /* Adjust font size as needed */
}

.timeline {
    position: relative;
    width: 2px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.dot {
    /*flex: 0 0 auto; /* Prevent the dot from stretching */
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    position: relative; /* Make sure the dot container is a positioned element */
}

.date{
    font-size: 20px;
    color: white;
    background-color: rgba(202, 112, 125, 0.67);
    display: inline-block; /* Make the date appear on the same line as the dot */
    /*margin-left: 10px; /* Adjust the spacing between the dot and the date as needed */
    position: absolute; /* Position the date element within the dot container */
    top: 0%; /* Adjust vertical alignment as needed */
    left: -15%; /* Adjust horizontal alignment as needed */
    transform: translate(-100%, 0%); /* Center the date element within the dot container */
    white-space: nowrap; /* Prevent the text from wrapping */
}

.role{
    font-size: 20px;
    color: white;
    background-color: rgba(95, 166, 92, 0.67);
    display: inline-block; /* Make the date appear on the same line as the dot */
    /*margin-left: 10px; /* Adjust the spacing between the dot and the date as needed */
    position: absolute; /* Position the date element within the dot container */
    top: 0%; /* Adjust vertical alignment as needed */
    left: 0%; /* Adjust horizontal alignment as needed */
    transform: translate(10%, 0%); /* Center the date element within the dot container */
    white-space: nowrap; /* Prevent the text from wrapping */
}

.logo {
    width: 90px; /* or the width you want */
    height: 90px; /* or the height you want */
    vertical-align: middle;
    margin-right: 10px; /* space between logo and text */
}

.job {
    position: relative;
    width: 100%;
    /*flex: 1; /* Allow the job content to expand and fill available space */
}

.card {
    width: 350px;
    height: 450px;
    perspective: 1000px;
    padding: 20px;
    margin: 20px 0; /* This margin may cause the card to be pushed to the right */
    opacity: 1; /* Initially fully visible */
    transition: opacity 0.5s; /* Add a smooth transition effect */
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 166, 92, 0.67);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.front{
    text-align: center;
    max-height: 300px; /* Adjust the max height to control card size */
}

.back{
    padding: 20px;
    margin: -20px; /* This margin may cause the card to be pushed to the right */
}

.back {
    transform: rotateY(180deg);
    text-align: left;
    padding: 20px;
    max-height: 300px; /* Adjust the max height to control card size */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

li {
    margin-bottom: 2px; /* Adjust the margin to control the space between list items */
}

.card p {
    margin: 0px;
}

/* CSS for the "Back to Home" button */
.back-button {
    position: fixed;
    background-color: #b30000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #ffda08;
    font-color: #000000;
}

/* Position the button in the top-left corner */
.top-left {
    top: 20px;
    left: 20px;
}

/* Position the button in the bottom-left corner */
/*@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}*/

/* CSS for mobile devices (adjust styles as needed) */
@media (max-width: 768px) {
    /* Add your mobile-specific styles here */
    .timeline {
        /* Adjust layout for smaller screens */
        flex-direction: column; 
        align-items: center;
    }

    .school-details-back {
        /* Adjust card size and scrolling for smaller screens */
        max-height: 200px; 
        overflow-y: auto; 
    }

    /* Add any other mobile-specific styles */
}
