#profile-pic {
    width: 200px;
    height: 220px;
    border-radius: 50%;
}

a {
    color: blue;
    text-decoration: none;
}

h4, h6 {
    margin: 0.25;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns the content to the left */
}

#contact {
    margin-left: auto; /* Pushes the contact section to the right */
    align-self: flex-start; /* Aligns the contact section to the top */
}

#certifications p::before {
    content: ""; /* default value; we'll override it per class */
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* space between logo and text */
    width: 20px; /* width of the logo */
    height: 20px; /* height of the logo */
    background-size: contain;
    background-repeat: no-repeat;
}

.google::before {
    background-image: url('google_cert.png');
}

.codepath::before {
    background-image: url('codepath_logo.png');
}

.logo {
    width: 30px; /* or the width you want */
    height: 30px; /* or the height you want */
    vertical-align: middle;
    margin-right: 10px; /* space between logo and text */
}

.school {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.school-header {
    padding: 10px;
    background-color: rgba(148, 140, 140, 0.5);
    cursor: pointer;
    border-bottom: 1px solid white;
}

.school-details{
    display: none;
    padding: 10px;
}

/*
.school-header {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-bottom: 1px solid white;
}
.school-details {
    background-color: #515451;
    border: 1px solid #827d7d;
    opacity: 0;
    overflow: hidden;
    transform: scale(0,0);
    transform-origin: top left;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;

.school-details.show {
    transform: scale(1,1); /* Returns to normal size */
    opacity: 1;
} 
*/

body {
    font-family: New Times Roman, sans-serif;
    background-image: url('pic.jpg');
    background-size: cover;
    color: white;
}

.job-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /*border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 5px;*/
}

.job-header {
    padding: 10px;
    background-color: rgba(148, 140, 140, 0.5);
    cursor: pointer;
    border-bottom: 1px solid white;
}

.job-details {
    display: none;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(244, 150, 83, 0.62);
    border-radius: 5px;
}

body {
    font-family: New Times Roman, sans-serif;
    background-color: #eda468; 
    background-image: url('space-cyber.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        background-position: center center;
        background-color: #95ba59;
    }
}
