body {
    font-family: New Times Roman, sans-serif;
    background-image: url('pic.jpg');
    background-size: cover;
    color: white;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

header {
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

a {
    color: cyan;
    text-decoration: none;
}

body {
    /* path to your image might be different based on your project structure */
    background-image: url('space-cyber.jpg'); 
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* This will prevent the image from repeating in case it's too small for the container */
    background-attachment: fixed; /* This makes the background image fixed, creating a parallax effect */
}

@media only screen and (max-width: 600px) {
    body {
        background-position: center center;
    }
}

li {
    position: relative;
    padding-left: 20px; /* Space for the logo and a small gap */
    list-style-type: none; /* To remove the default bullet point */
}

p.google:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust as per your logo dimensions */
    height: 20px;
    background-image: url('google_cert.png');
    background-size: cover;
    padding-left: 40px; /* Space for the logo and a small gap */
}

p.codepath:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust as per your logo dimensions */
    height: 20px;
    background-image: url('codepath_logo.png');
    background-size: cover;
    padding-left: 40px; /* Space for the logo and a small gap */
}
